   #et:hover {
    content: url('jpg/ei1b.jpg');
}
   #ed:hover {
    content: url('jpg/ei2b.jpg');
}
   #ep:hover {
    content: url('jpg/ei3b.jpg');
}
   #eh:hover {
    content: url('jpg/ei4b.jpg');
}
   #el:hover {
    content: url('jpg/ei6b.jpg');
}
html{
background-color:blue;
}
body{
background-color:cyan50%,red50%;
}
img.ei{
border-collapse:collapse;
border:none;
}
nav ul{
background-color:red;
}
border-radius:10px;
nav ul li{
display:inline;
border-right:2px;
}
nav ul li:lastchild{
border-right:none;
}
nav ul li a{
text-decoration:none;
}
nav ul li a:hover{
text-decoration:underline;
}
nav ul li.selected{color:gray;
}