button{
	background:linear-gradient(green ,red);
	width: 100px;
	height: 100px;
animation: 10s slidein infinite;
}
button.bad{
	background:linear-gradient(red ,green);
	width: 100px;
	height: 100px;
animation: 10s slidein2 infinite;
}
h1, p{
	text-align:center;
}
@keyframes slidein {
  25%{
    transform: translateX(0%);
  }
  50%{
	  transform: translateY(800%);
  }

  75% {
    
	transform: translate(1700%, 800%);
	
  }
  100%, 0%{
	transform: translateX(1700%);  
  }
}
@keyframes slidein2 {
  25%{
    transform: translateX(0%);
  }
  50%{
	  transform: translateY(800%);
  }

  75% {
    
	transform: translate(1700%, 800%);
	
  }
  100%, 0%{
	transform: translateX(1700%);  
  }
}

		
		