button{
	background:linear-gradient(green ,red);
	border-radius:100%;
	width: 100px;
	height: 100px;
animation: 10s slidein infinite;
}
@keyframes slidein {
  25%{
    transform: translateX(0%);
  }
  50%{
	  transform: translateY(800%);
  }

  75% {
    
	transform: translate(1800%, 800%);
	
  }
  100%, 0%{
	transform: translateX(1800%);  
  }
}

		
		